<a href="https://colab.research.google.com/github/kamesh41/EDA/blob/main/break%2Ccontinue%2Cpass_statements6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
for i in range(1,10):
  if i%5==0:
    break
  print(i)

1
2
3
4

In [9]:
print(i)

5

In [10]:
for i in range(1,10):
  if i%5==0:
    pass
  print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,10):
  if i%5==0:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [2]:
count=1
while count<5:
  count=count+1
  print('hi')
  if count==4:
     break

hi
hi
hi

In [1]:
count=1
while count<=5:
  count=count+1
  print('hi')

hi
hi
hi
hi
hi

In [3]:
for i in range(1,10):
  if i%6==0:
    break
  print(i)

1
2
3
4
5

In [13]:
for i in range(1,10):
  if i==6:
   continue
  print(i)

1
2
3
4
5
7
8
9

In [4]:
count=1
while count<5:
  count=count+1
  print("hello")
  if count==4:
    break

hello
hello
hello

In [8]:
class  Employee:
  def __init__(self,name,age,dept):
    self.name=name
    self.age=age
    self.dept=dept
  def show_employee_details(self):
    print('name of the employee',self.name)
    print('age of employee',self.age)
    print('dept of employee',self.dept)

In [10]:
e1=Employee('kamesh',35,'rmhs')

In [11]:
e1.show_employee_details()

name of the employee kamesh
age of employee 35
dept of employee rmhs

In [23]:
class Vehicle:
  def __init__(self,mileage,cost):
    self.mileage=mileage
    self.cost=cost
  def show_vehicle_details(self):
    print('mileage of vehicle is',self.mileage)  
    print('cost of vehicle is',self.cost)

In [24]:
v1=Vehicle(30,20000)

In [25]:
v1.show_vehicle_details()

mileage of vehicle is 30
cost of vehicle is 20000

In [51]:
class Car(Vehicle):
  def __init__(self,mileage,cost,tyres,hp):
    super().__init__(mileage,cost)
    self.tyres=tyres
    self.hp=hp
  def show_car_details(self):
      print('no of tyres is',self.tyres)
      print('hp of car is',self.hp)
      print('my name is car')

In [55]:
c1=Car(25,30000,8,750)

In [56]:
c1.show_vehicle_details()

mileage of vehicle is 25
cost of vehicle is 30000

In [54]:
c1.show_car_details()

no of tyres is 8
hp of car is 750
my name is car